<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Scrumy Goal</title>
    </head>
    <body>
        <table border="1">
            <tr>
                <th>User</th>
                <th>Weekly Goals</th>
                <th>Daily Goals</th>
                <th>Verify  Goals</th>
                <th>Done  Goals</th>
            </tr>
            <tbody>
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ goal_name }}</td>
                    <td>{{ goal_id }}</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>